<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">EShop</h1>
                        <p class="text-secondary mb-0">Chúng tôi bán mọi thứ</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Đăng ký</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://twitter.com/Yuuta_Sakamoto7"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/la.fromage.7554"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.youtube.com/channel/UCt1JNjCTP4IJTWqgUtwPR7A"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.linkedin.com/in/tang-nhat-hung-19b031299/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="/admin"><i class="fab fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Tại sao lại là trang web này?</h4>
                    <p class="mb-4">
                        Được tạo ra từ năm 2024, trang web này được xây dựng để giúp mọi người có thể sở hữu hàng hóa mà không cần phải đi xa.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Thông tin cửa hàng</h4>
                    <a class="btn-link" href="https://www.facebook.com/la.fromage.7554/">Về chúng tôi</a>
                    <a class="btn-link" href="https://www.facebook.com/la.fromage.7554/">Liên hệ với chúng tôi</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Tài khoản</h4>
                    <a class="btn-link" href="KhachHang/Profile">Tài khoản của tôi</a>
                    <a class="btn-link" href="/HangHoa">Chi tiết cửa hàng</a>
                    <a class="btn-link" href="/Cart/Checkout">Giỏ hàng của tôi</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Thông tin liên hệ</h4>
                    <p>Địa chỉ: QNU University, 170 An Dương Vương, Nguyễn Văn Cừ, Thành phố Qui Nhơn, Bình Định</p>
                    <p>Email: hung4351050116@st.qnu.edu.vn</p>
                    <p>Điện thoại: +84329389630</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->