﻿@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<div class="container">
    <br /><br /><br /><br /><br /><br />
    <h1>Xin chào @Context.User.Identity.Name</h1>

    <a asp-action="DangXuat">Đăng xuất</a>
</div>