@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHangMVC.Data.Loai

@{
    ViewData["Title"] = "SuaDanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa Danh Mục Sản Phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaDanhMucSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLoai" />
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label">Tên danh mục</label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLoaiAlias" class="control-label">Tên rút gọn</label>
                <input asp-for="TenLoaiAlias" class="form-control" />
                <span asp-validation-for="TenLoaiAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>